@tailwind base;
@tailwind components;
@tailwind utilities;


@Layer base {
    @font-face {
        font-family: 'Poppins';
        src: url('./fonts/Poppins-Regular.eot');
        src: local('☺'), url('./fonts/Poppins-Regular.woff') format('woff'), url('./fonts/Poppins-Regular.ttf') format('truetype'), url('./fonts/Poppins-Regular.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('./fonts/Poppins-Medium.eot');
        src: local('☺'), url('./fonts/Poppins-Medium.woff') format('woff'), url('./fonts/Poppins-Medium.ttf') format('truetype'), url('./fonts/Poppins-Medium.svg') format('svg');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('./fonts/Poppins-Bold.eot');
        src: local('☺'), url('./fonts/Poppins-Bold.woff') format('woff'), url('./fonts/Poppins-Bold.ttf') format('truetype'), url('./fonts/Poppins-Bold.svg') format('svg');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('./fonts/Poppins-Black.eot');
        src: local('☺'), url('./fonts/Poppins-Black.woff') format('woff'), url('./fonts/Poppins-Black.ttf') format('truetype'), url('./fonts/Poppins-Black.svg') format('svg');
        font-weight: 900;
        font-style: normal;
    }

    html {
        width: 100vw;
        overflow-x: hidden;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
    }
}

.large {
    width: 20rem;
    height: 20rem;
}

.small {
    width: 2.5rem;
    height: 2.5rem;
}

.account_link.active::before {
    content: '';
    position: absolute;
    border-left: 10px solid #FEC62D;
    height: 100%;
}

.account_link.active {
    color: #58A9A5;
}

.main_link.active {
    color: #58A9A5;
    position: relative;
}

.main_link.active::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 6px solid #FEC62D;
    top: 23px;
    border-radius: 5px;
}

.main_title::after {
    display: block;
    content: "";
    width: 66px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #FEC62D;
    margin-top: 8px;
}

.ql-toolbar.ql-snow {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

.ql-container.ql-snow {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: none;
    height: 203px;
}

.post p a {
    color: blue;
    text-decoration: underline;

}

.post ul {
    list-style-type: disc;
    margin: 1em 0 1em 0;
    padding: 0 0 0 3em;
}

.post ul li {
    padding: .3em 0 .3em 0;
}

.post ol {
    list-style-type: decimal;
    margin: 1em 0 1em 0;
    padding: 0 0 0 3em;
}

.post ol li {
    padding: .3em 0 .3em .3em;
}

.post ol li::marker {
    font-weight: 600;
}

.post p {
    padding: 0 0 .5em 0;
}